
.bl_tna__label{background:#000;color:#fff;border-radius:999px;text-align:center;padding:0 20px;flex-shrink:0;word-break:keep-all;}
.bl_tna__label2{background:none;color:#000;font-weight:700;}

.bl_tnaWeek{line-height:2.5;}
.bl_tnaWeek__ttl{flex-basis:120px;flex-shrink:0;}
.bl_tnaWeek__list{max-width:500px;}
.bl_tnaWeek__list *{font-size:16px;}

.bl_tnaPageBtn{width:30px;height:30px;background:url("/img/icon/icon_arrow.png")no-repeat center/20px;}
.bl_tnaPageBtn__prev{transform:rotate(180deg);}
.bl_tnaPageBtn__next{}